{
  "bottoken": "YOUR TOKEN HERE",
  "help_channel": "help-please",
  "announcements": "announcements",
  "bot_spam": "botcommands",
  "channels_to_keep": "general, setup",
  "public_channels": "looking-for-teammate",
  "admin_channels": "control-room",
  "mod_role": "gamecontrol",
  "user_role": "puzzler",
  "ToS_channel": "please-accept-terms",
  "ToS_acceptance_emoji": ""
}